{% extends "layout.html" %}
{% block content %}
    <div class="wrapper">
        <div class="left">
            <h2> Content </h2>
            <ul>
            {% for item in galleries_list%}
                <li>
                    <a href="#">{{ item.name }}</a>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="right">
            <h1>Gallery Name: {{ gallery_name }}</h1>
            <ul class="gallery-wrapp">
                {% for image in children %}
                    <li class="gallery-item">
                        <img src="{{ image.url }}"  alt="{{ image.name }}" />
                        <p> {{ image.name }} </p>
                    </li>
                {% endfor %}
            </ul>
            <a href="/upload_page">Go to upload page</a>
        </div>
    </div>
{% endblock %}