<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="static/style.css" />
    <title>Gallery App</title>
</head>
<body>
    <div class="">{% block content %}{% endblock %}</div>
</body>
</html>